body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    ul,
    p {
        margin: 0;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
}
.home-page {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 5;
    padding: 32px 0;
    &.active {
        position: absolute;
    }
    &.scrolling {
        background: #D8D8D8;
    }
    .header-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
    }
    .header-logo {
        max-width: 404px;
        .logo {
            width: 100%;
        }
    }
    .header__mobile-icon {
        display: none;
    }
    .header-menu {
        display: flex;
        nav {
            display: flex;
            align-items: center;
            .menu-list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
            .list-item {
                position: relative;
                &:nth-child(4),
                &:nth-child(5) {
                    &:before {
                        position: absolute;
                        content: "";
                        left: -20px;
                        top: 0;
                        border-left: 2px solid #d8d8d8;
                        height: 100%;
                    }
                }
            }
            .item-phone,
            .client {
                position: relative;
                padding-left: 40px;
                &:before {
                    position: absolute;
                    left: 10px;
                    width: 20px;
                    height: 24px;
                }
            }
            .item-phone {
                color: #ffffff;
                &:before {
                    content: url(../img/phone.svg);
                }
            }
            .client {
                &:before {
                    content: url(../img/client.svg);
                }
            }
            .item-for {
                margin-right: 10px;
                color: rgba(255, 255, 255, 0.4);
            }
            .item-link {
                color: #ffffff;
                letter-spacing: 1.5px;
                font-weight: 400;
                margin-right: 40px;
                transition: all 0.5s ease;
                &:hover {
                    opacity: 0.6;
                }
            }
            .item-phone {
                margin-right: 40px;
            }
        }
    }
}
main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    .container {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .top-section {
        padding: 256px 0;
    }
    .top-section__content {
        position: relative;
        z-index: 1;
        max-width: 700px;
        margin: 0 auto;
        .top-section__title {
            text-align: center;
            color: #ffffff;
            font-size: 38px;
            margin-bottom: 30px;
        }
        .top-section__description {
            color: #ffffff;
            text-align: center;
            margin: 0 auto;
            max-width: 600px;
            line-height: 26px;
            letter-spacing: 0.3px;
            font-weight: 300;
            margin-bottom: 52px;
            box-sizing: border-box;
        }
        .top-section__button {
            color: #000000;
            display: block;
            text-align: center;
            margin: 0 auto;
            background: #ffffff;
            padding: 20px 0;
            text-transform: uppercase;
            max-width: 272px;
            border-radius: 40px;
            font-family: "Raleway-Bold";
            letter-spacing: 2px;
            font-size: 16px;
            transition: all 0.5s ease;
            &:hover {
                color: #ffffff;
                background: #f1570f;
            }
        }
    }
    .top-section__background {
        background: url("../../src/img/home-page.jpg") no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        background-position: 50% 50%;
        background-size: cover;
        height: 807px;
        width: 100%;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
            background-image: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0) 77%,
                rgba(0, 0, 0, 0.1) 77%,
                rgba(0, 0, 0, 0.5) 100%
            );
        }
    }
    .how-it-works {
        margin-bottom: 92px;
        .how-it-works__title {
            text-align: center;
            margin: 86px 0;
            font-size: 38px;
            letter-spacing: 2px;
            font-family: Raleway-Medium;
        }
        .how-it-works__steps {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 72px;
        }
        .left-side__icon {
            position: relative;
            max-width: 66px;
            margin: 44px 0;
            &:after {
                content: "";
                position: absolute;
                border-bottom: 2px solid #d8d8d8;
                left: 0;
                bottom: -22px;
                width: 20px;
            }
            .icon {
                width: 100%;
                height: 48px;
            }
        }
        .left-side__description {
            font-family: Raleway-Regular;
            font-size: 20px;
            letter-spacing: 1px;
        }
        .steps__columns {
            max-width: 300px;
            height: 266px;
            display: flex;
            flex-direction: row;
            padding: 10px;
        }
        .columns__left-side,
        .columns__right-side {
            display: flex;
            flex-direction: column;
        }
        .columns__left-side {
            justify-content: center;
        }
        .columns__right-side {
            align-items: flex-end;
        }
        .right-side__number {
            font-family: OpenSans-Bold;
            font-size: 140px;
            color: #eff0f1;
            letter-spacing: 0;
            text-shadow: 0 4px 9px #d2d2d2;
            margin-bottom: 20px;
        }

        .right-side__step {
            transform: rotate(-90deg);
            font-family: Raleway-Bold;
            font-size: 14px;
            color: #d8d8d8;
            letter-spacing: 3px;
            padding-bottom: 20px;
        }
        .how-it-works__description {
            max-width: 702px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 48px;
        }
        .how-it-works__button {
            display: block;
            text-align: center;
            margin: 0 auto;
            padding: 20px 0;
            color: #ffffff;
            max-width: 272px;
            border-radius: 40px;
            font-family: "Raleway-Bold";
            letter-spacing: 2px;
            font-size: 16px;
            background: #000000;
            border: 2px solid #000000;
            transition: all 0.5s ease;
            &:hover {
                color: #000000;
                background: #ffffff;
            }
        }
    }
    .our-sevices {
        width: 100%;
        padding: 132px 0 60px 0;
        background: #4f5d75;

        .our-sevices__title {
            text-align: center;
            color: #ffffff;
            margin-bottom: 76px;
        }

        .nav {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding: 5px 0;
            margin-bottom: 88px;
            li {
                position: relative;
                margin-right: 60px;
                &:after {
                    content: "";
                    position: absolute;
                    border-right: 2px solid #2d3142;
                    top: 0;
                    right: -30px;
                    height: 100%;
                }
                &:last-child {
                    margin-right: 0;
                    &:after {
                        border: none;
                    }
                }
                &.active {
                    a {
                        color: #ffffff;
                    }
                }
            }
            a {
                color: #2d3142;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
        }
        .our-sevices__accordion {
            display: none;
        }
        .tab-content__wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0 100px;
            .tab-content__tab-pane {
                min-width: 320px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 72px;
            }
            .tab-pane__image {
                margin-right: 36px;
                max-width: 60px;
                img {
                    width: 100%;
                    height: 60px;
                }
            }
            .tab-pane__info {
                color: #ffffff;
            }
        }
        .tab-content__wrapper {
            display: none;
            &.active {
                display: flex;
            }
        }
    }
    .nex-dep-section {
        width: 100%;
        padding: 92px 0;
        background: #eff0f1;
        .nex-dep-section__title {
            font-family: Raleway-Medium;
            font-size: 38px;
            color: #030303;
            letter-spacing: 2px;
            text-align: center;
        }
        .card {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        // Donut Chart Mixin
        .donut-chart {
            position: relative;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 40px;
            &:last-child {
                margin: 0;
            }

            .slice {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .chart-center {
                position: absolute;
                border-radius: 50%;

                span {
                    display: block;
                    text-align: center;
                }
            }
        }

        @mixin donut-chart(
            $name,
            $perc,
            $size,
            $width,
            $base,
            $center,
            $color,
            $textColor: $color,
            $textSize: 40px
        ) {
            $color2: $color;
            $base2: $base;
            $deg: ($perc/100 * 360) + deg;
            $deg1: 90deg;
            $deg2: $deg;

            // If percentage is less than 50%
            @if $perc < 50 {
                $base: $color;
                $color: $base2;
                $color2: $base2;
                $deg1: ($perc/100 * 360+90) + deg;
                $deg2: 0deg;
            }

            .donut-chart {
                &#{$name} {
                    width: $size;
                    height: $size;
                    background: $base;

                    .slice {
                        &.one {
                            clip: rect(0 $size $size/2 0);
                            -webkit-transform: rotate($deg1);
                            transform: rotate($deg1);
                            background: $color;
                        }

                        &.two {
                            clip: rect(0 $size/2 $size 0);
                            -webkit-transform: rotate($deg2);
                            transform: rotate($deg2);
                            background: $color2;
                        }
                    }

                    .chart-center {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        top: $width;
                        left: $width;
                        width: $size - ($width * 2);
                        height: $size - ($width * 2);
                        background: $center;

                        .chart-number {
                            font-family: OpenSans-SemiBold;
                            font-size: 42px;
                            color: #030303;
                            letter-spacing: 1.91px;
                            text-align: center;
                            line-height: 24px;
                            margin-bottom: 12px;
                        }
                        .chart-text {
                            font-family: Raleway-SemiBold;
                            font-size: 14px;
                            color: #030303;
                            letter-spacing: 0.64px;
                            text-align: center;
                            line-height: 24px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        } // mixin

        // Charts
        @include donut-chart(
            ".chart1",
            35,
            200px,
            20px,
            #fff,
            #eff0f1,
            #fa3f40
        );
        @include donut-chart(
            ".chart2",
            65,
            200px,
            20px,
            #fff,
            #eff0f1,
            #fa3f40
        );
        @include donut-chart(
            ".chart3",
            45,
            200px,
            20px,
            #fff,
            #eff0f1,
            #fa3f40
        );
        @include donut-chart(
            ".chart4",
            55,
            200px,
            20px,
            #fff,
            #eff0f1,
            #fa3f40
        );
    }
    .our-benefits-sction {
        .our-benefits__title {
            font-family: Raleway-Medium;
            font-size: 38px;
            color: #030303;
            letter-spacing: 2px;
            text-align: center;
            margin: 128px 0;
        }
        .our-benefits__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .content__section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 132px;
        }
        .section__image {
            position: relative;
            max-width: 672px;
            margin-right: 62px;
            &.right-side {
                order: 2;
                margin-right: 0;
                margin-left: 62px;
            }
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.2);
            }
            .image {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        .section__description {
            max-width: 364px;
            .description__title {
                font-family: Raleway-Medium;
                font-size: 28px;
                color: #161616;
                letter-spacing: 1px;
                line-height: 34px;
            }
        }

        .description__content {
            font-family: Raleway-Regular;
            font-size: 16px;
            color: #030303;
            letter-spacing: 0.3px;
            line-height: 26px;
        }
    }
    .services-providers-section {
        position: relative;
        width: 100%;
        padding: 88px 0;
        margin-bottom: 108px;
        .services-providers__background {
            background: url("../img/services-providers-bg.jpg") no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            background-position: 50% 50%;
            background-size: cover;
            height: 512px;
            width: 100%;
            &:after {
                position: absolute;
                content: "";
                left: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background: #d3d2d3;
                opacity: 0.7;
                height: 100%;
            }
        }
        .services-providers__title {
            font-family: Raleway-Medium;
            font-size: 38px;
            color: #030303;
            letter-spacing: 2px;
            text-align: center;
            margin-bottom: 52px;
        }
        .services-providers__content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        .content__block {
            display: flex;
            flex-direction: column;
            max-width: 372px;
            margin-right: 128px;
            box-sizing: border-box;
            &:last-child {
                margin-right: 0;
            }
        }
        .block__top {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 24px;
            .top__avatar {
                max-width: 72px;
                margin-right: 12px;
                .image {
                    width: 100%;
                    height: auto;
                    border-radius: 50%;
                }
            }
            .top__provider-info {
                max-width: 268px;
                .provider-info__name {
                    position: relative;
                    margin: 0;
                    margin-bottom: 20px;
                    font-family: Raleway-Medium;
                    font-size: 20px;
                    color: #030303;
                    letter-spacing: 0.91px;
                    &:after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        left: 0;
                        bottom: -10px;
                        border-bottom: 1px solid #ffffff;
                    }
                }
                .provider-info__description {
                    font-family: Raleway-SemiBold;
                    font-size: 12px;
                    color: #030303;
                    letter-spacing: 2px;
                    line-height: 20px;
                    text-transform: uppercase;
                }
            }
        }
        .block__bottom {
            .bottom__text {
                font-family: Raleway-Regular;
                font-size: 16px;
                color: #030303;
                letter-spacing: 0.3px;
                line-height: 26px;
            }
        }
    }
    .testimonials-section {
        margin-bottom: 128px;
        .testimonials-section__title {
            font-family: Raleway-Medium;
            font-size: 38px;
            color: #030303;
            letter-spacing: 2px;
            text-align: center;
            margin: 0;
            margin-bottom: 52px;
        }
        .testimonials-section__slider {
            .slider {
                position: relative;
                padding: 20px 0;
            }

            .slider__items {
                position: relative;
                width: 100%;
                overflow: hidden;
            }

            .slider__item {
                position: relative;
                display: none;
                width: 100%;
                transition: transform 0.6s ease;
                backface-visibility: hidden;
            }

            .item__wrapper {
                height: 250px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
            }

            .item__title {
                margin: 0;
                margin-bottom: 8px;
                font-family: Raleway-Regular;
                font-size: 20px;
                color: #171717;
                letter-spacing: 1px;
                text-align: center;
            }

            .item__subtitle {
                margin: 0;
                margin-bottom: 32px;
                font-family: Raleway-SemiBold;
                font-size: 12px;
                color: #4F5D75;
                letter-spacing: 2px;
                text-align: center;
                line-height: 26px;
                text-transform: uppercase;
            }

            .item__description {
                max-width: 752px;
                font-family: Raleway-Regular;
                font-size: 16px;
                color: #171717;
                letter-spacing: 0.3px;
                text-align: center;
                line-height: 26px;
                overflow: hidden;
            }

            .slider__item_active,
            .slider__item_next,
            .slider__item_prev {
                display: block;
            }

            .slider__item_next,
            .slider__item_prev {
                position: absolute;
                top: 0;
            }

            .slider__item_next.slider__item_left,
            .slider__item_prev.slider__item_right {
                transform: translateX(0);
            }

            .slider__item_next,
            .slider__item_right.slider__item_active {
                transform: translateX(100%);
            }

            .slider__item_prev,
            .slider__item_left.slider__item_active {
                transform: translateX(-100%);
            }

            .slider__control {
                position: absolute;
                top: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15%;
                color: #fff;
                text-align: center;
                opacity: 0.5;
            }

            .slider__control:hover,
            .slider__control:focus {
                color: #fff;
                text-decoration: none;
                outline: 0;
                opacity: 0.9;
            }

            .slider__control_prev {
                left: 0;
            }

            .slider__control_next {
                right: 0;
            }

            .slider__control::before {
                content: "";
                display: inline-block;
                width: 20px;
                height: 20px;
                background: transparent no-repeat center center;
                background-size: 100% 100%;
            }

            .slider__control_prev::before {
                background-image: url('../img/arrow-left.svg');
                width: 50px;
                height: 50px;
            }

            .slider__control_next::before {
                background-image: url('../img/arrow-left.svg');
                width: 50px;
                height: 50px;
                transform: rotate(180deg);
            }

            .slider__indicators {
                position: absolute;
                right: 0;
                bottom: -12px;
                left: 0;
                z-index: 15;
                display: flex;
                justify-content: center;
                padding-left: 0;
                margin-right: 15%;
                margin-left: 15%;
                list-style: none;
            }

            .slider__indicator {
                position: relative;
                flex: 0 1 auto;
                width: 10px;
                height: 10px;
                margin-right: 3px;
                margin-left: 3px;
                text-indent: -999px;
                cursor: pointer;
                background-color: #ffffff;
                border-radius: 50%;
                border: 1px solid #D8D8D8;
            }

            .slider__indicator::before {
                position: absolute;
                top: -10px;
                left: 0;
                display: inline-block;
                width: 100%;
                height: 10px;
                content: "";
            }

            .slider__indicator::after {
                position: absolute;
                bottom: -10px;
                left: 0;
                display: inline-block;
                width: 100%;
                height: 10px;
                content: "";
            }

            .slider__indicator_active {
                background-color: #FA3F40;
            }
        }
    }
}
footer {
    width: 100%;
    padding: 48px 0;
    background: #4F5D75;
    .container {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .footer__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .content__links,
    .adress__list,
    .phone__list {
        display: flex;
        flex-direction: column;
        .links__list-item {
            margin-bottom: 8px;
            &:nth-child(3) {
                margin-bottom: 16px;
            }
            &:last-child {
                font-family: Raleway-Regular;
                font-size: 14px;
                color: #2D3142;
                letter-spacing: -0px;
                text-align: left;
                line-height: 28px;
            }
        }
        .list-item__link {
            font-family: Raleway-Regular;
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: -0px;
            text-align: left;
            line-height: 28px;
            transition: all 0.5s ease;
            &:hover {
                opacity: 0.6;
            }
        }
        .adress__list-item {
            display: flex;
            flex-direction: row;
            margin-bottom: 8px;
            &:first-child {
                margin-bottom: 0;
            }
            &:nth-child(2),
            &:nth-child(3) {
                padding-left: 35px;
            }
            font-family: Raleway-Regular;
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: -0px;
            text-align: left;
            line-height: 28px;
        }
        .list-item__link {
            margin-right: 12px;
        }
        .phone__list-item {
            display: flex;
            flex-direction: row;
            margin-bottom: 8px;
            font-family: Raleway-Regular;
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: -0px;
            text-align: left;
            line-height: 28px;
            &:nth-child(2) {
                padding-left: 35px;
            }
            .item__image {
                margin-right: 12px;
            }
        }
    }
}