@media screen and (max-width: 480px) {
    .home-page {
        position: absolute;
        padding: 12px 0;
        &.active,
        &.scrolling {
            position: absolute;
            background: transparent;
        }
        .header-container {
            position: relative;
        }
        .header-logo {
            margin-left: 20px;
        }
        .header__mobile-icon {
            display: block;
            position: absolute;
            top: 4px;
            right: 20px;
            img {
                width: 30px;
            }
        }
        .header-menu {
            position: absolute;
            top: 50px;
            left: 50%;
            transform: translateX(-50%);
            width: 200px;
            height: 240px;
            padding-left: 40px;
            background: #4f5d75;
            border-radius: 10px;
            opacity: 0.01;
            transition: opacity 0.7s ease-in;
            &.active {
                opacity: 1;
                transition: opacity 0.7s ease-in-out;
            }
        }
        .menu-list {
            flex-direction: column !important;
            padding: 0;
        }
        .list-item {
            margin-bottom: 10px;
            color: #000000;
            &:before {
                display: none;
            }
        }
        .item-link {
            margin-right: 0 !important;
        }
        span {
            margin: 0 !important;
            padding: 0 !important;
            &:before {
                left: -30px !important;
            }
        }
    }
    main {
        .top-section {
            padding: 229px 0;
        }
        .top-section__content {
            max-width: 300px;
            .top-section__button {
                max-width: 202px;
                font-size: 14px;
            }
        }
        .how-it-works {
            .how-it-works__title {
                margin: 40px 0 0 0;
            }
            .how-it-works__steps {
                flex-direction: column;
                align-items: center;
            }
            .steps__columns {
                max-width: 260px;
                height: 222px;
            }
            .how-it-works__description {
                max-width: 280px;
            }
            .how-it-works__button {
                max-width: 202px;
                font-size: 14px;
            }
        }
        .our-sevices {
            padding: 24px 0;
            .our-sevices__tabs,
            .our-sevices__tab-content {
                display: none;
            }
            .our-sevices__title {
                margin-bottom: 24px;
            }
            .our-sevices__accordion {
                display: block;
                .container {
                    max-width: 700px;
                    margin: 0 auto;
                    padding-top: 20px;
                }
                .panel {
                    margin-bottom: 5px;
                }
                .panel-group {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .panel-title {
                    padding: 10px 0;
                    border-top: 1px solid #000000;
                    border-bottom: 1px solid #000000;
                    font-size: 16px;
                    color: #333;
                    font-family: "Helvetica";
                    font-weight: 300;
                    cursor: pointer;
                    margin-bottom: 5px;
                    text-align: center;
                    width: 100%;
                }
                .panel-body {
                    padding: 15px;
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                    display: none;
                    margin-bottom: 10px;
                }
                .panel-active {
                    margin-bottom: 0;
                    border-bottom: 0;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    text-decoration: underline;
                }
                .active {
                    display: flex;
                    flex-direction: column;
                    align-items: baseline;
                    .tab-content__tab-pane {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-bottom: 24px;
                    }
                    .tab-pane__image {
                        margin-right: 28px;
                        width: 60px;
                    }
                    .tab-pane__info {
                        color: #ffffff;
                    }
                }
            }
        }
        .nex-dep-section {
            padding: 22px 0;
            .card {
                flex-direction: column;
                align-items: center;
            }
            .donut-chart {
                margin: 0;
                margin-bottom: 20px;
            }
        }
        .our-benefits-sction {
            .our-benefits__title {
                margin: 32px 0;
            }
            .content__section {
                flex-direction: column;
                align-items: center;
                margin-bottom: 24px;
                .section__image {
                    margin: 0;
                    max-width: 280px;
                }
                .section__description {
                    max-width: 280px;
                }
                .description__title {
                    font-size: 22px;
                    text-align: center;
                }
                .description__content {
                    text-align: center;
                }
                .right-side {
                    order: 0;
                }
            }
        }
        .services-providers-section {
            padding: 22px 0;
            margin-bottom: 32px;
            overflow: hidden;
            .services-providers__background {
                height: 868px;
            }
            .services-providers__title {
                font-size: 28px;
            }
            .services-providers__content {
                flex-direction: column;
                align-items: center;
            }
            .content__block {
                margin: 0;
                margin-bottom: 20px;
                max-width: 280px;
            }
        }
        .testimonials-section {
            margin-bottom: 40px;
            .testimonials-section__title {
                margin: 24px;
            }
            .slider__item {
                max-width: 240px;
                margin: 0 auto;
                text-align: center;
            }
            .testimonials-section__slider {
                .slider__control_prev::before,
                .slider__control_next::before {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
    footer {
        padding: 16px 0;
        .footer__content {
            flex-direction: column;
            align-items: center;
            ul {
                padding: 0;
            }
        }
    }
}